/* sandbox css */

#interface {
	width:960px;
	margin:20px auto;
}

#blocks {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

#blocks div {
	width:50px;
	height:50px;
	color:orange;
	background:orange;
	display:inline-block;
	margin:10px 20px;
	text-align:center;
	vertical-align:middle;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
							/* property, duration, timing function */
}

#blocks div p {
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
}

#blocks div:hover {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	background:black;
	color:white;
}

#blocks div:hover p {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -o-transform: scale(2);
}
